.container-promocion-mensual{
    display: flex;
    margin-top: 10rem !important;
    flex-direction: row;
    justify-content:center;
}


.container-promocion-individual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 6rem solid #5DB8FF;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-inline: 5px;
    width: 30%;
    height: 70em;
}

.contenido-promocion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listado-ofertas{
    width: 50%;
    display: flex;
    justify-content: initial;
    align-items: initial;
    text-align: initial;
}

.listado-ofertas> ul{
    list-style: none;
}

.sub-cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.sub-cabecera>div{
    width: 50%;
}

.img-ifanel{
    width: 70%;
}

h1{
    font-size: 2em;
}