.contenedorPanel2 {
    display: flex;
}

.contenedorOpcionesOficina {
    background-color: #145ca4;
    width: 158px;
    color: white;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.listaOpcionesOficina {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 99%;
    padding-left: 0 !important;
}


.opcionPanel {
    text-decoration: none;
    color: white;
    padding: 7%;
}

.opcionPanel:hover {
    background-color: #377bbe;
    color: white;
    cursor: hand;

}

.contenedorRender {
    width: 92%;
}


.container-footer {
    background-color: #145ca4;
    width: 100%;
    height: 60px;
}



/*Tamaño imagenes opciones*/
.img-general {
    width: 70%;
}

.img-grafico-perfil {
    width: 23%;
}

.img-impulsaya {
    width: 65%;
}

.img-aprenya {
    width: 60%;
}

.img-blockchainya {
    width: 70%;
}

.img-lanzaya {
    width: 50%;
}

.img-promociones-especiales {

    width: 21%;

}

.img-estructura {
    width: 29%;
}

.img-cuentas {
    width: 29%;
}

.img-compras {
    width: 29%;
}

.img-comisiones {
    width: 29%;
}

.img-herramientas {
    width: 29%;
}

.img-ninja-ventas {
    width: 29%;
}

.img-crece-crypto {
    width: 29%;
}