.container-footer{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.7em !important;
}

.m-footer .m-footer__copyright {
    font-weight: 400;
    color: #a9a9aa;
}
.m-footer__copyright a {
    text-decoration: none;
    color: #ffffff !important;
}