.alerta-stats{
    height: 31px;
    background-color: #e6e7e7; 
}

.subheader-stats{
    height: 71px;
}

.contenido-stats-subheader{
    margin-top: 30px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.subheader-stats-titulo{
    display: inline-block;
    font-weight: 400;
    color: #aaaeb8;
    font-size: 14px;
}

.subheader-stats-mes{
    display: inline-block;
    font-weight: 500;
    color: #145ca4 ;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
}

.contenido-stats{
    padding-left: 50px;
    padding-right: 50px;
}

.card{
    border:1px solid #36a3f7 !important;
    width: 100%;
    
}

.card-header{
    text-align: right;
    padding-right:15px;
    padding-top:15px;
    background-color: white;
    border:none;
}

.card-header h4{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700 !important;
    line-height: 1.2;
    font-size:18px;
    color:#36a3f7;
}

.card-body{
    display: flex;
    padding: 30px;
}

.card-body-imagen{
    display: inline-block;
    padding-left: 50px;
}

.card-body-texto{
    display: inline-block;
    padding: 10px;
}

.card-body-texto p{
    font-size: 14px;
}

.card-body-imagen img{
    width:200px;
    height: 200px;
}

.card-footer{
    text-align: center;
    background-color: white;
    color:#8a9299 !important;
    font-size: 14px;
}

.container-button{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-button button{
    width: 75%;
    background-color:#69B4F5;;
    border:none;
    border-radius: 3px;
    color:white;
    font-size: 14px;
    height: 35px;
    font-weight: bold;
}

.stats-contrata{
    margin-top:15px;
}

.contrata-header{
    height: 53px !important;
    text-align: center;
    color: #69B4F5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contrata-header h4{
    font-size: 18px ;
}

.contrata-herramientas{
    padding-bottom: 20px;
}

.contrata-impulsaya{
    font-size:20px;
    color: #69B4F5;
}

.contrata-aprenya{
    font-size:20px;
    color: #FEB805;
}

.contrata-lanzaya{
    font-size:20px;
    color: #4DCEB5;
}

.contrata-blockchain{
    font-size:20px;
    color: #EA5C44;
}

.contrata-divs{
    min-height: 230px;
    margin-top:20px;
    margin-bottom: 30px;
}

.card-contrata{
    border:1px solid #36a3f7 !important;
}

.gris-claro-contrata{
    background-color:#FAFAFA;
    height:230px;
}

.gris-oscuro-contrata{
    background-color: #E9EEF2;
    width: 100% !important;
}

.gris-oscuro-contrata p{
    color:#145ca4;
    font-size: 14px;
}

.panel-izq-contrata{
    height:205px;
}

.contrata-tipo-servicios{
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    font-size:14px;
    color:#145ca4;
}

.contrata-numero{
    color:#145ca4;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

.contrata-numero h1{
    font-size:35px !important;
}

.azul-claro-contrata{
    background-color: #69B4F5;
    width: 100% !important;
}

.azul-claro-contrata p{
    color:white;
    font-size: 14px;
}

.contrata-tipo-categoria{
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    font-size:14px;
    color:white;
    width: 100% !important;
}

.azul-oscuro-contrata{
    background-color: #145ca4;
    width: 100% !important;
}

.azul-oscuro-contrata p{
    color:white;
    font-size: 14px;
}

.mr-20{
    margin-right: 20px;
}

.datos-portlet{
    box-shadow: 1px 1px 10px rgb(172, 172, 172) ;
    margin-bottom: 50px;
}

.datos-head{
    padding:20px;
    border-bottom: 1px solid #d5dadf;
}

.datos-head h3{
    color: #575962;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
}

.datos-widget{
    padding: 25px;
    width: 95% !important;
    margin:auto;
}

.datos-body{
    min-height: 450px;
}

.datos-body-titulo{
    color: #575962;
    font-weight: 600;
    font-size: 16px;
}

.datos-body-subtitulo{
    color: #7b7e8a;
    font-size: 13px;
}

.datos-body-num{
    margin:auto;
    display:block;
    font-weight: 600;
    font-size: 14px;
    color: #716aca;
    width:100%;
    text-align: right !important;
}

.widget-1{
    border-bottom:1px dashed #dcdcdf;
}

.widget-2{
    border-bottom:1px dashed #575962;
}

.datos-canvas{
    height:390px;
    display:block;
}

.compras-portlet{
    box-shadow: 1px 1px 10px rgb(172, 172, 172) ;
    margin-bottom: 50px;
}

.compras-head{
    padding:30px;
}

.compras-head h3{
    color: #575962;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
}

.compras-widget{
    padding: 15px;
    width: 95% !important;
    margin:auto;
}

.compras-body{
    min-height: 430px;
}

.compras-body-titulo{
    color: #575962;
    font-weight: 600;
    font-size: 16px;
}

.compras-body-subtitulo{
    color: #7b7e8a;
    font-size: 13px;
}

.compras-body-num{
    margin:auto;
    display:block;
    font-weight: 600;
    font-size: 15px;
    color: #716aca;
    width:100%;
    text-align: right !important;
}

.widget-1{
    border-bottom:1px dashed #dcdcdf;
}

.widget-2{
    border-bottom:1px dashed #575962;
}

.widget-3{
    border-bottom:1px solid #d1d0d0;
}

.compras-canvas{
    height:390px;
    display:block;
}

.compras-body h4{
    padding:15px;
    padding-left:30px;
    font-size: 16px;
    color: #575962;
}

.prueba1{
    background-color:black;
}

.icono-datos{
    height:25px !important;
    width:25px !important;
}

.icono-compras{
    height:20px !important;
    width:20px !important;
}

.icono-enlace{
    height:32px !important;
    width: auto;
    background-color: #145ca4;
    border-radius: 25px;
}

.dropdown-menu{
    border:none;
}

.dropdown-dias{
    width: 250px;
}

.dropdown-dias:hover{
    background-color:white;
}


.dropdown-lista{
    list-style: none;
    text-decoration: none;
    text-align: left;
}

.dropdown-lista li{
    padding:15px 0px 10px 15px;
    font-size:14px;
    width: 85%;
}

.dropdown-lista li:hover{
    background-color:rgb(250, 250, 250);
}

.dropdown-lista li a{
    text-decoration: none;
    color:gray;
    width: 85%;
}

.dropdown-button{
    display:flex;
    align-items: center;
    justify-content:center;
}

.dropdown-aplicar{
    margin-bottom: 10px;
    margin-right: 15px;
    width: 83px;
    height: 35px;
    background-color: #34bfa3;
    color:white;
    border:none;
    border-radius:20px;
    font-size:12px;
}

.dropdown-cancelar{
    margin-bottom: 10px; 
    margin-right: 5px;
    width: 83px;
    height: 35px;
    background-color: white;
    border:1px solid rgb(226, 226, 226);
    border-radius:20px;
    font-size:12px;
}

.card-linkRef{
    color: #145ca4 !important;
    text-decoration: none;
}

.dropdown-menuLista{
    box-shadow: 1px 1px 10px rgb(172, 172, 172) ;
}

canvas{
    width: 100%;
}

@media(max-width:420px){
    .icono-datos{
        margin-left: -15px;
    }

    .datos-body-subtitulo{
        font-size: 10px;
    }

    .icono-compras{
        margin-left: -10px;
    }

    .compras-body-num{
        font-size: 12px;
        width:50px;
        margin-left:-20px;
    }

    .card-body-imagen img{
        width:150px;
        height:150px;
    }

    .datos-canvas{
        height:150px;
    }

    .stats-contrata {
        margin-top: 15px;
        margin-bottom: 25px;
        width: 350px;
    }

    .card {
        margin-left:-25px;
        margin-bottom: 20px;
    }

    .carta3{
        margin-right:20px;
    }

    .user-row{
        width:350px;
    }

    .stats-datos{
        width: 340px;
    }

    .compras-container{
        width: 95%;
    }

    .compras-body {
        min-height: 350px;
    }

    .datos-body {
        min-height: 350px;
    }

    .container-button{
        display:block;
        margin-right: -40px;
        margin-bottom: 20px;
    }

    .contrata-header h4 {
        font-size: 26px;
    }

    .card-body-imagen {
        display: inline-block;
        padding-left: 0px;
    }

    .card-body-imagen img {
        display: block;
        margin: auto;
    }

    .subheader-stats {
        margin-right: -60px;
        margin-bottom: 20px;
    }

    .contrata-tipo-servicios {
        width: 225px !important;
    }

    .contrata-tipo-categoria {
        width: 225px !important;
    }

}

@media(max-width:768px){
    .datos-canvas {
        height: 150px;
        display: block;
    }

    .card-body-texto {
        display: inline-block;
        padding: 10px;
        margin-left: 10px;
    }

    .card-body-imagen {
        display: inline-block;
        padding-left: 20px;
    }

    .contrata-impulsaya {
        font-size: 18px;
        color: #69B4F5;
    }

    .contrata-tipo-servicios {
        font-size: 10px;
    }

    .contrata-tipo-categoria {
        font-size: 10px;
    }

    .azul-oscuro-contrata p {
        color: white;
        font-size: 10px;
    }

    .contrata-numero h1 {
        font-size: 18px !important;
    }

    .gris-oscuro-contrata p {
        font-size: 10px;
    }

    .azul-claro-contrata p {
        font-size: 10px;
    }

    .azul-claro-contrata {
        width: 104% !important;
    }

    .gris-oscuro-contrata {
        width: 104% !important;
    }

    .compras-body-num {
        font-size: 11px;
        width: 147%;
    }

    .icono-datos {
        margin-left: -15px;
    }

    .icono-compras {
        margin-left: -5px;
    }

    .datos-body-titulo {
        font-size: 13px;
    }

    .datos-body-subtitulo {
        font-size: 11px;
    }
}